h1 {
    margin-bottom: 20px;
}

.carrito-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    background: #F5E6C8;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.contador {
    background: #7A4E2D;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: -5px;
    right: -5px;
}

.producto-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F5E6C8;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #A67C52;
    width: 300px;
}

.producto img {
    align-self: center;
    width: 70px;
    height: 70px;
}

.producto h3 {
    text-align: center;
}

.producto p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}


.btn {
    display: inline-block;
    padding: 8px 12px;
    background: #0d6efd;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.carrito-control {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.btn-restar, .btn-sumar {
    background: #7A4E2D;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.btn-sumar:disabled,
.btn-restar:disabled {
    background: #b5b5b5 !important;
    color: #eee !important;
    cursor: not-allowed !important;
    opacity: 0.7;
}

.toast {
    position: fixed;
    top: 20px;
    right: -300px;
    background: #dc3545;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: right 0.4s ease;
    z-index: 9999;
}

.toast.show {
    right: 20px;
}