body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-container {
    width: 300px;
    background-color: #F5E6C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    border: 2px solid #A67C52;
}