body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    font-size: 72px;
    color: #D4A017;
    margin: 0;
}

h2 {
    font-size: 32px;
    color: #2A2A2A;
    margin: 0;
}

.users-container {
    background-color: #F5E6C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    border: 2px solid #A67C52;
}