<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>P칩cimas & Trebejos</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/css/panelAdmin.css" />
</head>
<body>
  <h1><%= titulo %></h1>

  <div class="nav-container">
    <nav>
      <a href="/usuarios">Usuarios</a> <span style="color: #A67C52;">|</span>
      <a href="/roles">Roles</a> <span style="color: #A67C52;">|</span>
      <a href="/permisos">Permisos</a> <span style="color: #A67C52;">|</span> 
      <a href="/productos">Productos</a>
    </nav>

    <p style="color: #A67C52; font-weight: 600;">Seleccion치 una secci칩n para administrar.</p>
      
    <div>
      <form action="/auth/logout" method="get">
        <button type="submit">Cerrar sesi칩n</button>
      </form>
    </div>
  </div>

  
</body>
</html>