@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

* {
  font-family: "IM Fell English", serif;
}

body {
  background: url("https://cdna.artstation.com/p/assets/images/images/016/574/322/large/yang-sohyeon-2-1.jpg?1552713509");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100vh;
}

h1 {
  font-size: 48px;
  color: #D4A017;
}

h2 {
  font-size: 32px;
  color: #D4A017;
}

h3 {
  font-size: 24px;
  color: #D4A017;
}

a {
    text-decoration: none;
    color: #7A4E2D;
    font-weight: 600;
}

button {
    background-color: #7A4E2D;
    border: 1px solid #A67C52;
    border-radius: 8px;
    color: #D4A017;
    font-weight: 600;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

p, li, label {
  color: #D4A017;
}

td, th {
  color: #7A4E2D;
}

input, textarea, select {
  background-color: #E8D6B4;
}